<h1 class="text-center">Eat-Da-Burger</h1>
<hr>

{{!-- Burgers to be Eaten --}}

<main class="pb-5">
    <div class="container">
        <div class="row">
            
            {{!-- Burgers to be Eaten --}}
            <div class="col-md">
                <h1>Burgers to be Eaten</h1>
                {{#each burger}}
                {{#unless this.devoured}}
                <div>
                    <form action="/burgers/{{this.id}}" method="POST">
                        <button type="submit" class='burgerToEat'> {{this.burger_name}} -- Devour It!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>


            {{!-- Burgers Already Eaten --}}
            <div class="col-md">
                <h1>Burgers Already Eaten</h1>
                {{#each burger}}
                {{#if this.devoured}}
                <div class='burgerEaten'>
                    <div>
                        {{this.burger_name}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>

        </div>
    </div>
</main>
<br>

<div class="container text-center">
    <h2>Create a Burger</h2>
    <div class="row">
        <form action="/burgers" method="POST" class="col-md">
            <input type="text" id="name" name="burger_name" class="col-xs-4" placeholder="Delicious Burger">
            <button type="submit" class=" btn-primary addBurgerButton">Add The Burger</button>
        </form>
    </div>
</div>