li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  

  body {
      background: #F7D309; 
  }

  .burgerToEat {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
 
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: lightgreen;
    border: none;
  }
 
  .burgerToEat:hover {
    background-color: darkgreen;
  }
 
  .burgerEaten {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
 
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: red;
  }

  .addBurgerButton {
    font-weight: normal;
    text-align: center;

    border-radius: 25px;

 
  }